<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5a1ff7bd9e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/chat.css">
    <title>FREELANCER</title>
</head>

<body>

    <header>

        <nav class="nav-bar">

            <article class="phone-menu">
                <i class="fa-solid fa-bars fa-beat"></i> 
            </article>
          
            <ul class="pc-style">
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Skills</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Contact</a></li>
            </ul>

            <ul class="phone-style">
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Skills</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Contact</a></li>
            </ul>

        </nav>

        

    </header>

    <main>
        <div class="index-container">

            <section class="hello-page">

                <section class="hello-page-div">

                <article class="hello-page-urls">
                    <ul>
                        <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"> <img src="images/icone-linkedin-ronde-noire.png" alt=""> </a></li>
                        <li><a href="#"> <i class="fab fa-github"></i></a></li>
                        <!-- <li><a href="#"> <i class="fab fa-facebook"></i></a></li> -->
                    </ul>
                </article>

                <article class="hello-page-owner-name">

                    <h2>I am Ali Zinal</h2>
                    <p>

                       I am a professional full stack developer with over 4 years of experience in the industry. I have a passion for creating high-quality websites and web applications that meet the unique needs of my clients, and I am dedicated to delivering exceptional results every time.

                        
                    </p>

                    <!-- <p>I'm Ali, proffessional web developer with long time experience in this field</p> -->
                </article>

                <article class="hello-page-background-name">
                    <p>
                        ALI ZINAL
                    </p>
                </article>

                <article class="hello-page-owner-picture">
                    <img src="images/all-removebg-preview.png" alt="">
                </article>

                <article class="hello-page-owner-portfolio-btn">
                    <a href="">
                        <p>My Portfolio</p>
                    </a>
                </article>

            </section>


            </section>

            <section class="services-page">

                <article class="services-page-title">
                    <h1>SERVICES</h1>
                    <h1>My Services</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, maiores aperiam in consequuntur architecto consequatur quae. Architecto reprehenderit, atque officia iure hic minima laudantium, veniam ut veritatis vitae sit cupiditate.</p>
                </article>

                <article class="space-page">
                </article>

                <article class="services-whatcando">

                    <ul class="services-whatcando-ul">

                        <li class="will-fadeIn">
                            
                            <article class="services-icon">

                                <i class="fas fa-laptop-code"></i>
                                                     
                            </article>

                            <article class="services-title">

                                <h2>Web Development</h2>

                            </article>

                            <article class="services-text">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, officiis. Ea praesentium exercitationem similique earum doloribus facilis id corporis nam, ex ab amet quasi, illo, quas nemo dolores nostrum perferendis.</p>

                            </article>

                        </li>

                        <li class="will-fadeIn">
                            
                            <article class="services-icon">
                            
                                 <i class="fas fa-palette"></i>
                                                          
                            </article>

                            <article class="services-title">
                                <h2>Web Design</h2>
                            </article>

                            <article class="services-text">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, vitae iusto debitis molestiae id officiis asperiores quaerat quae sit minima laboriosam tenetur iure harum, atque eveniet animi! Temporibus, nulla ducimus?</p>

                            </article>

                        </li>

                        <li class="will-fadeIn">
                            
                            <article class="services-icon">
                                <i class="fas fa-mobile-alt"></i>
                             
                            </article>

                            <article class="services-title">

                                <h2>App Developing</h2>

                            </article>

                            <article class="services-text">

                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi velit porro soluta hic illum placeat iusto odio tempora possimus pariatur, quasi vel enim, est numquam, aliquid culpa accusamus temporibus neque!</p>

                            </article>

                        </li>
                        
                    </ul>

                </article>

            </section>

            <section class="about-me-page">
                <article class="about-me-page-title">
                  <h1>Аbout Me</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ut, mollitia vel itaque nulla magni rem placeat sint quae quo dolor sit. Molestias, nihil odit. Facere voluptate voluptas culpa obcaecati?</p>
                </article>

                <article class="space-page">
                </article>

                <section class="about-me-page-pictures-infos-phones">

                    <article class="about-me-page-picture">
                        <img src="images/all-removebg-preview.png" alt="">
                    </article>

                    <article class="about-me-page-infos">

                        <article class="about-me-page-info">
                            <h2>Hi There</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore recusandae quo deserunt ad soluta quibusdam consequuntur quia reiciendis. Facilis consequuntur cumque atque rerum suscipit vitae magni mollitia corporis omnis maiores!</p>
                        </article>

                        <section class="about-me-page-phones-info-flex">

                            <article class="about-me-page-phones-info">
                           
                                <article class="about-me-page-phones-info-article">
                                    <h3>Name:</h3>
                                    <p>Ali Zinal Ali</p>
                                </article>
    
                                <article class="about-me-page-phones-info-article">
                                    <h3>Phone:</h3>
                                    <p>+359894396766</p>
                                </article>
    
                            </article>
    
                            <article class="about-me-page-phones-info">
                               
                                <article class="about-me-page-phones-info-article">
                                    <h3>Email:</h3>
                                    <p>taurus.ali47@gmail.com</p>
                                </article>
    
                                <article class="about-me-page-phones-info-article">
                                    <h3>Linkedin:</h3>
                                    <p>taurus366</p>
                                </article>
    
                            </article>
                        </section>

                    
                    </article>


                </section>
            </section>

            <section class="lets-work-page">

             <section class="lets-work-container">

                <section class="lets-work-left-side">
                    <article class="title-expert">
                        <h1> I'M EXPERT ON</h1>
                     </article>
     
                     <article class="title-lets-work">
                         <h1>Let's Work Together</h1>
                     </article>
     
                     <article class="title-text">
                       <p>  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam officiis ipsa, assumenda sit odit sapiente quae, voluptatibus reiciendis veritatis et fugiat? Repudiandae facere omnis deserunt, unde temporibus impedit tempore autem!
                     </article></p>
     
                     <article class="hire-me-btn">
                         <a href="">
                            <p> Hire Me Now</p>
                         </a>
                     </article>
                  </section>
    
                  <section class="lets-work-right-side">
    
                    <article class="lets-work-skill-java will-fadeIn fadeInLeft">
                        <h4 class="language-type">Java / Thymeleaf / Spring Boot / MVC</h4>
                        <div class="work-skill-line"></div>
                        <h6 class="language-percent">98%</h6>
                    </article>

                    <article class="lets-work-skill-junit will-fadeIn fadeInLeft">
                        <h4 class="language-type">Mockito / Junit / Lombok / Jersey / Actuator</h4>
                        <div class="work-skill-line"></div>
                        <h6 class="language-percent">98%</h6>
                    </article>

                    <article class="lets-work-skill-mysql will-fadeIn fadeInRight">
                        <h4 class="language-type">MySql / PostgreSQL</h4>
                        <div class="work-skill-line"></div>
                        <h6 class="language-percent">97%</h6>
                    </article>

                    <article class="lets-work-skill-dart will-fadeIn fadeInLeft">
                        <h4 class="language-type">Dart / Flutter</h4>
                        <div class="work-skill-line"></div>
                        <h6 class="language-percent">90%</h6>
                    </article>

                    <article class="lets-work-skill-angular will-fadeIn fadeInRight">
                        <h4 class="language-type">Angular / TypeScript</h4>
                        <div class="work-skill-line"></div>
                        <h6 class="language-percent">95%</h6>
                    </article>

                    <article class="lets-work-skill-html will-fadeIn fadeInLeft">
                        <h4 class="language-type">HTML / CSS / SCSS / BootStrap</h4>
                        <div class="work-skill-line"></div>
                        <h6 class="language-percent">95%</h6>
                    </article>

                    <article class="lets-work-skill-js will-fadeIn fadeInRight">
                        <h4 class="language-type">JavaScript</h4>
                        <div class="work-skill-line"></div>
                        <h6 class="language-percent">96%</h6>
                    </article>
                
                </section>

             </section>



            </section>



        </div>
    </main>

    <aside>
        <article id="backtotop">
            <i class="fa fa-2x fa-rocket"></i>
        </article>

        <div class="chat-box">
            <div id="header" class="header">
              <div class="avatar-wrapper avatar-big">
                <img src="images/all-removebg-preview.png" alt="avatar" />
              </div>
              <span class="name">ALI ZINAL</span>
              <span class="dev-status dev-status-offline"></span>
              <span class="dev-status-text dev-status-text-offline"></span>
              <span class="options">
                <i class="fas fa-ellipsis-h"></i>
              </span>
            </div>
            <div id="chat-room" class="chat-room d-none">
              <div class="message message-left">
                <div class="avatar-wrapper avatar-small">
                  <img src="images/all-removebg-preview.png" alt="avatar" />
                </div>
                <div class="bubble bubble-light">
                  Hey anhat!
                </div>
              </div>
              <div class="message message-right">
                <div class="avatar-wrapper avatar-small">
                    <img src="images/client-img.png" alt="avatar" />
                </div>
                <div class="bubble bubble-dark">
                  what is going on?
                </div>
              </div>
            </div>
            <div id="type-area" class="type-area d-none">
              <div class="input-wrapper">
                <input type="text" id="inputText" placeholder="Type messages here..." />
              </div>
              <span id="button-add" class="button-add">
                <i class="fas fa-plus-circle"></i>
                <div id="others" class="others">
                  <span id="emoji-button" class="emoji-button">
                    <i class="far fa-laugh"></i>
                    <div id="emoji-box" class="emoji-box">
                      <span>&#x1f604;</span>
                      <span>😀</span>
                      <span>😂</span>
                      <span>😭</span>
                      <span>😍</span>
                      <span>🤮</span>
                      <span>🤑</span>
                      <span>😖</span>
                      <span>😷</span>
                    </div>
                  </span>
                  <span class="image-button">
                    <i class="far fa-image"></i>
                  </span>
                  <span>
                    <i class="fas fa-paperclip"></i>
                  </span>
                </div>
              </span>
              <button id="button-send" class="button-send">Send</button>
            </div>
          
          </div>

    </aside>

    <footer></footer>
    

</body>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->

<!--<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>-->
<script src="/js/script.js"></script>
<script src="/js/chat.js"></script>
</html>